---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import EmpolyeeCard from "../components/EmpolyeeCard.astro";
import { shuffle } from "../utils";
import CategorySelector from "../components/CategorySelector.astro";

type Params = {
  category: string;
};
const { category } = Astro.params as Params;

type Category = CollectionEntry<"mentors">["data"]["category"];

if (category && !["design", "utveckling", "ledarskap"].includes(category)) {
  return Astro.redirect("/404");
}

const mentors = await getCollection(
  "mentors",
  category ? m => m.data.category == category : undefined,
);
---

<Layout title={"Variant Mentoring"}>
  <h1 class="text-4xl font-bold text-center my-4 block">Hitta en mentor</h1>

  <div class="max-w-[30rem] px-2 mt-12 mx-auto">
    <p>
  Vi på Variant erbjuder mentorskap till våra kollegor, men också till personer utanför Variant. Vi älskar att snacka utveckling, design och ledarskap.
       Om du vill ha en session med någon av våra mentorer skickar du bara ett mejl direkt till personen!
(Är du osäker?? <a
        class="underline hover:no-underline"
        href="/grejen">Läs vad som är grejen med mentorskap</a
      >.)
    </p>
  </div>

  <CategorySelector selected={category as Category} />

  <div class="grid gap-8 grid-flow-row grid-cols-fluid my-24 justify-center">
    {
      shuffle(mentors).map(async ({ data, render, slug }) => {
        const { Content } = await render();
        return <EmpolyeeCard Content={Content} data={data} slug={slug} />;
      })
    }
  </div>
</Layout>
