---
import { Picture } from "@astrojs/image/components";
import Layout from "../layouts/Layout.astro";
---

<Layout title={"Variant Mentoring - Vad är grejen?"}>
  <div class="max-w-prose my-16 mx-auto">
    <p class="mb-4">
      <a href="/">⬅ Tillbaka</a>
    </p>

    <div class="prose prose-img:rounded-xl">
      <h1>Mentorskap - Vad är grejen?</h1>

      <p>
       Det finns ingen one size fits all-recept för mentorskap. 
Det är främst en relation mellan två människor. För att komma igång 
är det bara att kontakta personen du vill ha som mentor och ta det 
därifrån. En bra utgångspunkt kan vara att ta upp vad du vill utvecklas inom som
adept och vad du tror du behöver i en mentor. Vissa mentorskapsrelationer
kan bestå av ett enda samtal, medan andra kan innefatta flera samtal
under en längre tid med mer uppföljning.

      </p>

      <Picture
        width={361}
        height={234}
        widths={[361]}
        aspectRatio="2:1"
        class="block m-auto"
        src="/highfive.jpg"
        alt="Samarbeid er viktig for læring"
      />

      <h2>Varför ska du ha en mentor?</h2>
      <p>
        Vet du vart du vill, men inte hur du ska komma dit? 
En mentor kan hjälpa dig att hitta nästa steg. Om du är ganska 
skicklig på React men vill bli erkänd som en senior React-utvecklare
kan en mentor hjälpa dig att identifiera nästa logiska steg och stödja dig på vägen.
 En mentor kan hjälpa dig att reflektera över var du befinner dig i din karriär. 
Det kan inkludera tekniska ämnen som React, dotnet eller Java, liksom mjuka 
färdigheter som ledarskap, produktivitet och arbetsflöde. Eller kanske vill du 
bli bättre på att skapa dedsignsystem, eller införa design thiking i din organisation? 
Utöver att bara bygga kompetens kan en mentor vara en sparringspartner som hjälper dig
att reflektera och utvinna mer kunskap från dina uppdrag.
      </p>

      <h2>Varför vara mentor?</h2>
      <p>
      Att vara mentor kan vara mycket givande på många sätt. 
Det är ett utmärkt sätt att förbättra din förmåga att kommunicera 
om ditt område. Genom att vägleda din adept förstärker du din egen
kunskap och kanske får nya perspektiv.
      </p>
    </div>
  </div>
</Layout>
