---
import { Category } from "../content/content-types";

export interface Props {
  selected?: Category;
}

const { selected } = Astro.props;
const actualSelected = selected ?? "all";

const twl = (i: TemplateStringsArray) => i.join("");
const buttonClass = (id: string) => {
  const base = twl`border-2 block border-solid px-8 py-2 `;
  if (actualSelected === id) {
    return base + twl`border-[#03DAC6] bg-[#9af0e8] hover:bg-[#68E9DD]`;
  } else {
    return base + twl`border-[#FBFAF7] bg-[#F8F6EF] hover:bg-[#F4F1E7]`;
  }
};
---

<nav class="my-8">
  <ul class="flex justify-center m-auto list-none list-outside bg-">
    <li><a href="/" class={"rounded-s-3xl " + buttonClass("all")}>Alla</a></li>
    <li>
      <a href="/design" class={"" + buttonClass("design")}>Design</a>
    </li>
    <li>
      <a href="/utveckling" class={" " + buttonClass("utveckling")}>Utveckling</a>
    </li>
    <li>
      <a href="/ledarskap" class={"rounded-e-3xl " + buttonClass("ledarskap")}
        >Ledarskap</a
      >
    </li>
  </ul>
</nav>
